!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= data.page.title || "Bridge To Ecuador"
    %meta{:content => data.page.description || "Connecting Youth to Ecuador", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = javascript_include_tag "libs/modernizr-2.8.3"
    = stylesheet_link_tag "main"
    %link{:href => "/assets/img/favicon64px.ico", :rel => "icon", :type => "image/ico"}
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Cutive", :rel => "stylesheet", :type => "text/css"}/
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header.main-header
      .main-header-inner
        =link_to '/' do
          = image_tag "logo.png", alt: "Bridge to Ecuador", class: "logo"
        = link_to "javascript:void(0)", class: "mobile-menu" do
          =partial "assets/svg/hamburger.svg"
        %nav
          %ul.main-menu
            %li.more
              = link_to t('navigation.programs'),'/programs.html'
              %ul.submenu
                %li =link_to t('navigation.camps'), "javascript:void(0)"
                %li =link_to t('navigation.comunity_service'), "javascript:void(0)"
                %li =link_to t('navigation.homeland_tours'), "javascript:void(0)"
            %li= link_to t('navigation.why_ecuador'), '/why_ecuador.html'
            %li= link_to t('navigation.request_information'), '/request_info.html'
            %li= link_to t('navigation.about_us'), '/about_us.html'
          %ul.top-menu
            %li= link_to t('navigation.create_a_custom_trip'), '/request_info.html'
            %li
              = link_to "tel:#{t('navigation.telephone')}" do
                %span.phone= partial "assets/svg/phone.svg"
                = t 'navigation.telephone'
    .main
      = yield
    %footer
      %p= "Copyright &copy; #{Time.now.year} Bridge To Ecuador"

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="library/js/vendor/jquery-2.1.1.js"><\/script>')
    = javascript_include_tag "main"
    = javascript_include_tag "navigation"
    = javascript_include_tag "tab"
    = javascript_include_tag "slideshow"

    :javascript
      window.jQuery || document.write('<\/script>')
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
