%header.navigation{:role => "banner"}
  .navigation-wrapper
    =link_to '/', class: "mobile-logo" do
      = image_tag "logo.png", alt: "Bridge to Ecuador"
    = link_to "javascript:void(0)", class: "navigation-mobile-menu", id: "js-navigation-mobile-menu" do
      =partial "assets/svg/hamburger.svg"
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link.logo
          =link_to '/' do
            = image_tag "logo.png", alt: "Bridge to Ecuador"
        %li.nav-link.mobile
          = link_to t('navigation.home'), '/'
        %li.nav-link
          = link_to t('navigation.why_ecuador'), '/why_ecuador.html'
        %li.nav-link.more
          %a{:href => "javascript:void(0)"}= t('navigation.programs')
          %ul.submenu
            %li
              =link_to t('navigation.homeland_tours'), "/homeland_tours.html"
            %li
              =link_to t('navigation.camps'), "/vacation_camps.html"
            %li
              =link_to t('navigation.community_service'), "/community_service.html"
        %li.nav-link
          = link_to t('navigation.about_us'), '/about_us.html'
        %li.nav-link
          = link_to t('navigation.request_information'), '/request_info.html'
        %li.nav-link
          = link_to "tel:#{t('navigation.telephone')}" do
            %span.phone= partial "assets/svg/phone.svg"
            = t 'navigation.telephone'
