%ul.accordion-tabs
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "javascript:void(0)"}= t('programs.tab-heading.information')
    .tab-content
      -information.each do |paragraph|
        %p= paragraph
  -unless schedule.blank?
    %li.tab-header-and-content
      %a.tab-link{:href => "javascript:void(0)"}= t('programs.tab-heading.schedule')
      .tab-content
        %table
          -schedule.each do |line|
            %tr
              %td= line

  -unless trips.blank?
    %li.tab-header-and-content
      %a.tab-link{:href => "javascript:void(0)"}= t('programs.tab-heading.trips')
      .tab-content
        -trips.each do |paragraph|
          %p= paragraph
  -unless costs.blank?
    %li.tab-header-and-content
      %a.tab-link{:href => "javascript:void(0)"}= t('programs.tab-heading.costs')
      .tab-content
        -costs.each do |list_item|
          %p= list_item

